img.alignright {
    float: right;
    margin: 5 0 5 10px;
}

img.alignleft {
    float: right;
    margin: 5 10 5 0px;
}

p {
    margin: 4px 4px 12px 4px;
}

#navMenu {
    font-size: 16px;
}

#header h1 {
    font-size: 22px;
    color: #333;
    float: right;
    padding-right: 12px;
}

#grailsLogo {
    width: 200px;
}

.clearboth {
    clear: both;
}

#footer {
    margin: 0 auto;
    text-align: center;
}

#nav {
    margin-top: 20px;
    margin-left: 30px;
    width: 228px;
    float: left;

}

.homePagePanel * {
    margin: 0px;
}

.homePagePanel .panelBody ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.homePagePanel .panelBody h1 {
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.homePagePanel .panelBody {
    background: url(../images/leftnav_midstretch.png) repeat-y top;
    margin: 0px;
    padding: 15px;
}

.homePagePanel .panelBtm {
    background: url(../images/leftnav_btm.png) no-repeat top;
    height: 20px;
    margin: 0px;
}

.homePagePanel .panelTop {
    background: url(../images/leftnav_top.png) no-repeat top;
    height: 11px;
    margin: 0px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

#pageBody {
    margin-left: 280px;
    margin-right: 20px;
}

.homePagePanel .panelBody {
    min-height: 500px;
}

#nav {
    padding-right: 12px;
}

pre.html {
    font-size: 22px;
}

#layoutTriggering {
    margin-left: 16px;
    padding-left: 260px;
    font-size: 22px;
}

#layoutTriggering ul {
    padding-left: 24px;
}

#content {
    padding: 8px;
}